@model Entidades.Factura

@{
    ViewData["Title"] = "Registrar_Factura";
}


<style>
    /* Estilos Para Cuadro */
    .form-container {
        max-width: 700px;
        padding: 20px;
        background-color: #f7f7f7;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 20px; 
    }

        .form-container h1 {
            text-align: center;
            font-size: 28px;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        .form-container .row {
            margin-bottom: 10px;
        }

        .form-container label {
            font-weight: bold;
        }

</style>

<div class="form-container">
    <h1>Registrar Factura</h1>
    <br />

    <h5>Datos De La Factura</h5>
    <hr />
    <form asp-action="Registrar_Factura" id="Cadena_Consulta">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="index" id="txtIndexDetalle" />

        <!-- FILA #1 -->
        <div class="row">

            <div class="form-group col-md-6">
                <label class="control-label">CLIENTE:</label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label class="control-label">FECHA REALIZADA:</label>
                <input asp-for="FechaRealizada" class="form-control" />
                <span asp-validation-for="FechaRealizada" class="text-danger"></span>
            </div>

            <div class="form-group col-md-2">
                <label class="control-label">TOTAL:</label>
                <input readonly asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>

        </div>

        <!-- FILA #2 -->
        <div class="row">


            <div class="form-group col-md-3">
                <label class="control-label">CORRELATIVO:</label>
                <input readonly asp-for="Correlativo" class="form-control" />
                <span asp-validation-for="Correlativo" class="text-danger"></span>
            </div>

            <div class="form-group col-md-6">
                <label class="control-label">EMPLEADO:</label>
                <select asp-for="IdEmpleadoEnFactura" class="form-control" asp-items="ViewBag.Lista_Empleados">
                    <option selected value="">Seleccionar...</option>
                </select>
                <span asp-validation-for="IdEmpleadoEnFactura" class="text-danger"></span>
            </div>

        </div><br /><br />

        <!-- VISTA DETALLE -->
        <h5>Detalles De Los Productos</h5>
        <div class="row row-cols-md-12" id="Respuesta_Servidor">
            @await Html.PartialAsync("_DetalleDeFactura", Model.Lista_DetalleFactura)
        </div>

        <!-- BOTONES -->
        <div class="row">

            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-primary" />
                <a asp-action="Registros_Facturas" class="btn btn-secondary">CANCELAR</a>
            </div>

        </div>


    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_DetalleScript");
    }
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
